body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(-5px 5px 0px black);
}

.status {
    margin-bottom: 10px;
}

.tile-selected {
    filter: drop-shadow(0 0 5px yellow) brightness(150%);
}

.tile-invisible {
    visibility: hidden;
    pointer-events: none;
    z-index: -10;
}

/*.kbd-navigation .tile:focus {*/
/*    background: #ddd;*/
/*}*/

.game-component {
    /*display: flex;*/
    /*flex-direction: row;*/
}

.game-info {
    margin-left: 20px;
}