body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-layer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*position: fixed;*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 25px black);
}

.status {
    margin-bottom: 10px;
}

/* TODO dynamic squares */
.tile {
    border: 1px solid #000;
    font-size: 32px;
    font-weight: bold;
    line-height: 50px;
    width: 50px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.tile:focus {
    outline: none;
}

.kbd-navigation .tile:focus {
    background: #ddd;
}

.game {
    /*display: flex;*/
    /*flex-direction: row;*/
}

.game-info {
    margin-left: 20px;
}


.board-row {
    padding: 0;
}

.board-off-row-1 {
    position: absolute;
    left: -2.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.board-off-row-2 {
    position: absolute;
    right: -26%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}