body {
    background: beige;
    width: 800px;
    height: 600px;
    font: 14px "Century Gothic", Futura, sans-serif;
    overflow: scroll;
}

ol, ul {
    padding-left: 30px;
}

.tile {
    transition: 250ms;
}

.tile-selected {
    filter: drop-shadow(0 0 5px yellow) brightness(150%);
}

.tile-invisible {
    visibility: hidden;
    pointer-events: none;
}

.game-component {
    margin: 5%;
}